doctype html
html
  head
    title= title
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap")
    link(rel="stylesheet", href="/css/styles.css")
    script(src="/js/script.js")
  body
    h1 La Bonne Paye
    .container
      form(action="/payement" method="post")
        .form-row
          .p-qui
            label(for="name") A payer 
            select(name="name" id="name" style="font-size:1.5rem")
              option(value="") 
              option(value="Lola") Lola
              option(value="David") David
          .p-date
            label(for="date") Date
            input(type="date" id="date" name="date" style="font-size:1.5rem" required)

        .form-row
          .p-somme
            label(for="somme") Somme
            input(type="number" id="somme" name="somme" required style="font-size:1.5rem" placeholder="Entrez la somme :")
        .p-description
          label(for="description") Description
          textarea(id="description" name="description" rows="1" style="font-size:1.5rem" placeholder="Écrivez votre message ici...")

        button(type="submit") Vazy !
    .containerSomme 
      .form-row
        .p-sommeDu
          p#lola 
      .form-row
        .p-sommeDu
          p#david 
